<ul>
  <li *ngFor='let user of users'>
    {{user}}
  </li>
</ul>

<textarea [(ngModel)]="newMessage"></textarea>
<ul style="list-style-type:none">
  <li *ngFor='let message of messageInfo'>
    <p>{{message.message}}</p>
  </li>
</ul>
<button class="btn btn-primary" (click)="onSendMessage()">Send</button>
<button class="btn btn-primary" (click)="onLeaveRoom()">Leave Room</button>
<div class="" [hidden]="!isAdmin">
  <button class="btn btn-primary" (click)="onKickUser(users[1])">Temp kick button</button>
</div>
