<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 center-block">
    <div #scrollMe style="overflow: scroll; height: xyz;" id="chatBox">
      <ul id="chatList" style="list-style-type:none">
        <li id="chatItem" *ngFor='let message of messageInfo'>
          <p>[{{message.nick}}] : {{message.message}}</p>
        </li>
      </ul>
    </div>
    <textarea id="chatInput" [(ngModel)]="newMessage" placeholder="Enter new message"></textarea>
    <button id="sendMessage" class="btn btn-primary" (click)="onSendMessage()">Send</button>
    <button id="leaveID" class="btn btn-primary" (click)="onLeaveRoom()">Leave Room</button>
  </div>
  <div class="col-md-3">
      <p id="userlistHeader">Active users</p>
      <ul id="userlistID" style="list-style-type:none">
        <li id="userID" *ngFor='let user of users'>
          {{user}}
            <button *ngIf="isAdmin" class="btn btn-danger" (click)="onKickUser(user)">Kick</button>
            <button *ngIf="isAdmin" class="btn btn-danger" (click)="onBanUser(user)">Ban</button>
            <button *ngIf="isAdmin" class="btn btn-danger" (click)="onOpUser(user)">MakeOP</button>
            <button *ngIf="isAdmin" class="btn btn-danger" (click)="onDeOpUser(user)">DeOP</button>
            <button id="sendMessage" class="btn btn-danger">Private</button>
        </li>
      </ul>
  </div>
</div>
