#chatBox {
    text-align:left;
    margin:0 auto;  
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:300px;
    width:600px;
    border:1px solid #ACD8F0;
    border-radius: 6px;
    overflow:auto;
}

#chatList {
    margin-left: -5%;
}

#chatInput {
    width: 540px;
    height: 30px;
    margin-left: 10%;
    border-radius: 12px;
    text-indent: 5px;
}

#chatInput:focus {
    box-shadow: 0 0 1pt 1pt rgb(87, 164, 230);
	outline: none;
}

#chatItem {
    margin-left: -3%;
    margin-top: -2%;
}

#sendMessage {
    margin-top: -3%;
    border-radius: 12px;
}

#sendMessage:hover {
    box-shadow: 0 0 1pt 1pt rgb(87, 164, 230);
	outline: none;
}

#sendMessage:focus {
    box-shadow: 0 0 1pt 1pt rgb(87, 164, 230);
	outline: none;
}

#leaveID {
    margin-top: 5%; 
    margin-left: 10%;
    width: 600px;
    border-radius: 12px;
}

#leaveID:hover {
    box-shadow: 0 0 1pt 1pt rgb(87, 164, 230);
	outline: none;
}

#userlistHeader {
    font-size: 20px;
}

#userID {
    margin-top: 1%;
    margin-left: -12%;
}

#privatechatInput {
    width: 350px;
    max-width: 350px;
    height: 30px;
    margin-left: 10%;
    border-radius: 12px;
    text-indent: 5px;
}

#privatechatInput:focus {
    box-shadow: 0 0 1pt 1pt rgb(87, 164, 230);
	outline: none;
}

#adminlistID {
    padding-left: 5%;
}

#adminID {
    margin-left: -15%;
}

#topicID {
    margin-left: 10%;
    font-size: 24px;
}

#setTopic {
    border-radius: 12px;
    padding: 2px 10px 2px 8px;
}

#setTopic:focus {
    box-shadow: 0 0 1pt 1pt rgb(87, 164, 230);
	outline: none;
}

#setTopic:hover {
    box-shadow: 0 0 1pt 1pt rgb(87, 164, 230);
	outline: none;
}

#settopicID {
    text-indent: 5px;
    border-radius: 12px;
}

#settopicID:focus {
    box-shadow: 0 0 1pt 1pt rgb(87, 164, 230);
	outline: none;
}

.btn-danger {
    font-size: 12px;
    padding: 0px 5px 0px 5px;
    border-radius: 12px;
}

.btn-success {
    font-size: 12px;
    padding: 0px 5px 0px 5px;
    border-radius: 12px;
}

.btn-warning {
    font-size: 12px;
    padding: 0px 5px 0px 5px;
    border-radius: 12px;
}

.col-md-3 {
}

